<button class="btn btn-default btn-lg" data-behavior="new-tracker"><%= t("new_tracker_button") %></button>

<%= form_for @tracker do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.submit "Get Started", class: "btn btn-success btn-lg" %>
<% end %>

