<h1><%= @tracker.name %></h1>
<section class="new-subject">
  <%= render partial: "subjects/form", locals: { subject: @subject, tracker: @tracker } %>
</section>

<section>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Subject</th>
        <th>Votes</th>
        <th>Last updated</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "subjects/subject", locals: { subjects: @subjects, tracker: @tracker } %>
    </tbody>
  </table>
</section>
